@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@700&family=Work+Sans&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@700&family=Work+Sans:wght@400;700&display=swap");

:root {
  --primary: #131313;
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: "Work Sans", sans-serif;
  /* border: 1px solid red; */
}

.hide {
  display: none !important;
}

/* navbar  */
.header-section {
  background-color: rgba(255, 144, 14, 0.1);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 250px;
}
.header-section h1 {
  font-weight: 700;
  font-size: 30px;
}

.header-section nav ul {
  display: flex;
  gap: 40px;
}

.header-section nav ul li {
  list-style: none;
}

.header-section nav ul li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  color: #424242;
}

/* banner section */

.banner-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 43%;
  gap: 30px;
}

.banner-container h1 {
  font-family: "Work Sans";
  color: #131313;
  font-weight: 700 !important;
  font-size: 50px;
  text-align: center;
}

.banner-container p {
  color: #727272;
  font-weight: 400;
  font-size: 11px;
  text-align: center;
  line-height: 20px;
}

.btn-primary {
  background-color: #ff900e;
  width: 160px;
  height: 54px;
  color: #ffffff;
  border: 0;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
}

.btn-primary:hover {
  background-color: #ffffff;
  color: #ff900e;
  border: 1.5px solid #ff900e;
  transition: all 0.5s ease-in-out;
}
.banner-img-div {
  /* width: 100%; */
  display: flex;
  margin: 0 250px;
  margin-bottom: 30px;
}
.banner-img {
  width: 100%;
  border-radius: 8px;
}

/* feature-section */

.feature-section {
  display: flex;
  gap: 60px;
  margin: 80px 200px 120px 200px;
  justify-content: center;
  align-items: center;
}
.left-feature {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
  flex-basis: 50%;
}
.feature-img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  border: 0;
}
.right-feature {
  flex-basis: 50%;
  display: flex;
  align-items: center;
}
.right-feature article {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 75%;
  align-items: flex-start;
  justify-content: space-between;
  gap: 25px;
}

.right-feature article h3 {
  font-size: 40px;
  line-height: 53px;
}

.right-feature article h3 .span1 {
  color: #727272;
  font-weight: 500;
}

.right-feature article h3 .span2 {
  color: #131313;
  font-weight: 700;
}
.right-feature article h3 .span3 {
  font-weight: 700;
  color: #ff900e;
}

.right-feature article p {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #727272;
  text-align: start;
}

/* feature 2 start  */

.featre2-section {
  display: flex;
  gap: 60px;
  margin: 0 250px;
  justify-content: center;
}

.featre2-section .left {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.featre2-section .left h3 {
  font-weight: 700;
  font-size: 38px;
  line-height: 53px;
  color: #131313;
}
.featre2-section .left .h3-div-future2 {
  border-left: 3px solid #ff900e;
  padding-left: 10px;
}

.featre2-section .left p {
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  color: #727272;
  /* margin-bottom: 10px; */
}

.featre2-section .left-card-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: stretch;
  gap: 10px;
  height: 100%;
}

.featre2-section .left-card-container div {
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 10px 15px;
}

.featre2-section .left-card-container div h5 {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #131313;
}

.featre2-section .left-card-container div p {
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  color: #727272;
}

.featre2-section .right {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.featre2-section .right div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.featre2-section .right img {
  width: 100%;
  /* height: 100%; */
  border-radius: 8px;
}
.right div .floating-div {
  width: 200px;
  height: 120px;
  background-color: #ff900e;
  border-radius: 8px;
  position: absolute;
  left: -43px;
  bottom: -40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 0;
  gap: 8px !important;
}
.floating-div h3 {
  color: #ffffff;
  font-weight: 700;
  font-size: 30px;
}
.floating-div p {
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
}

/* fact-section */

.fact-section {
  display: flex;
  flex-direction: column;
  margin: 100px 250px;
}
.fact-title {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 70%;
}
.fact-title h3 {
  color: #131313;
  font-weight: 700;
  font-size: 40px;
  line-height: 53px;
}

.fact-title p {
  color: #727272;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 110px;
}
.facts-card-container {
  display: flex;
  gap: 40px;
  padding: 0px 30px;
  align-items: center;
  justify-content: center;
}

.fact-cards {
  width: 150.83px;
  height: 130.83px;
  border: 1.5px solid #ff900e;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 5px 0;
}

@keyframes card-animation {
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg) scale(1.2, 1.2);
  }
  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg) scale(1.2, 1.2);
  }
}

.fact-cards:hover {
  animation: 2s infinite alternate card-animation;
}

.fact-cards img {
  width: 30.22px;
  height: 30.22px;
}

.fact-cards h3 {
  color: #424242;
  font-weight: 600;
  font-size: 30px;
  line-height: 53px;
}

.fact-cards p {
  color: #727272;
  font-weight: 600;
  font-size: 10px;
  line-height: 23px;
}

/* sponspors-section */
.sponspors-section {
  display: flex;
  flex-direction: column;
  margin: 100px 250px;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.sponspors-section .div1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 45%;
  align-items: center;
  text-align: center;
}

.sponspors-section .div1 h3 {
  color: #131313;
  font-weight: 700;
  font-size: 40px;
  line-height: 53px;
}

.sponspors-section .div1 p {
  color: #727272;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}

.sponspors-section .div2 {
  display: flex;
  /* gap: 60px; */
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 100%;
}

.sponspors-section .div2 img {
  width: 100px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
/*****************
*******************
Media Query Start
******************
*******************/

@media screen and (max-width: 576px) {
  .nav-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    text-align: center;
    gap: 30px;
  }

  .header-section nav ul {
    flex-direction: column;
    gap: 20px;
  }

  /* banner section */

  .banner-section {
    justify-content: center;
  }
  .banner-container {
    width: 90%;
    justify-content: center;
  }

  .banner-container h1 {
    font-size: 30px;
  }

  .banner-container p {
    font-size: 12px;
  }

  .banner-img-div {
    width: 90%;
    display: flex;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 577px) and (max-width: 1030px) {
  .nav-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    text-align: center;
    gap: 30px;
  }

  .header-section nav ul {
    gap: 20px;
  }

  /* banner section */

  .banner-section {
    justify-content: center;
  }
  .banner-container {
    width: 90%;
    justify-content: center;
  }

  .banner-container h1 {
    font-size: 30px;
  }

  .banner-container p {
    font-size: 12px;
  }

  .banner-img-div {
    width: 90%;
    display: flex;
    margin-bottom: 30px;
  }
}

/* feature media query */
@media screen and (max-width: 630px) {
  /* feature-section */

  .feature-section {
    flex-direction: column;
    gap: 60px;
    margin: 80px 10px 120px 10px;
  }
  .left-feature {
    display: flex;
    flex-direction: column;
    gap: 18px;
    justify-content: center;
    align-items: center;
  }
  .feature-img {
    width: 300px;
    height: 300px;
  }
  .right-feature {
    flex-direction: column;
    align-items: center;
  }
  .right-feature article {
    width: 90%;
    height: 75%;
    align-items: flex-start;
    justify-content: space-between;
    gap: 25px;
  }
}

@media screen and (min-width: 631px) and (max-width: 1140px) {
  /* feature-section */

  .feature-section {
    flex-direction: column;
    gap: 60px;
    margin: 80px 10px 120px 10px;
  }

  .feature-img {
    width: 300px;
    height: 300px;
  }
  .right-feature {
    flex-direction: column;
    align-items: center;
  }
  .right-feature article {
    width: 90%;
    height: 75%;
    align-items: flex-start;
    justify-content: space-between;
    gap: 25px;
  }
}

/* feature 2 media query start  */

@media screen and (max-width: 1200px) {
  .featre2-section {
    flex-direction: column;
    gap: 30px;
    margin: 0 15px;
    justify-content: center;
    align-items: center;
  }

  .featre2-section .right {
    /* flex-direction: column; */
    gap: 25px;
    align-items: center;
  }

  .featre2-section .right div {
    gap: 25px;
    position: static;
    align-items: center;
  }
  .floating-div {
    position: static;
  }
}

@media screen and (min-width: 1450px) {
  .featre2-section .left-card-container div {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #ffffff;
  }

  .featre2-section .left-card-container div h5 {
    font-weight: 600;
    font-size: 2em;
    line-height: 20px;
    color: #131313;
  }

  .featre2-section .left-card-container div p {
    font-weight: 400;
    font-size: 1em;
    line-height: 26px;
    color: #727272;
  }

  /* .featre2-section .right {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  } */
  .featre2-section .right div {
    position: relative;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start;
    justify-content: center; */
  }

  .featre2-section .right img {
    width: 100%;
    /* height: 100%; */
    border-radius: 8px;
    /* object-fit: contain; */
  }
  .right div .floating-div {
    width: 200px;
    height: 120px;
    background-color: #ff900e;
    border-radius: 8px;
    position: absolute;
    left: -43px;
    bottom: -40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 0;
  }
  .floating-div h3 {
    color: #ffffff;
    font-weight: 700;
    font-size: 30px;
  }
  .floating-div p {
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
  }
}
/* fact-section media query start*/

@media screen and (max-width: 576px) {
  .fact-section {
    margin: 100px 10px;
    align-items: center;
    justify-content: center;
  }
  .fact-title {
    width: 90%;
  }

  .fact-title p {
    margin-bottom: 40px;
  }
  .facts-card-container {
    flex-direction: column;
    gap: 50px;
    padding: 0px 0px !important;
    align-items: center;
    justify-content: center;
    width: 90%;
  }

  .fact-cards {
    width: 210.83px;
    height: 190.83px;
    border: 1.5px solid #ff900e;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 5px 0;
  }
}

@media screen and (min-width: 577px) and (max-width: 1100px) {
  .fact-section {
    margin: 100px 10px;
    align-items: center;
    justify-content: center;
  }
  .fact-title {
    width: 90%;
    text-align: center;
  }

  .fact-title p {
    margin-bottom: 40px;
  }
  .facts-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding: 0px 0px !important;
  }

  .fact-cards {
    width: 210.83px;
    height: 190.83px;
    border: 1.5px solid #ff900e;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 5px 0;
  }
}

/* sponspors-section media query */
@media screen and (max-width: 576px) {
  .sponspors-section {
    flex-direction: column;
    margin: 100px 25px;
  }

  .sponspors-section .div1 {
    width: 90%;
  }

  .sponspors-section .div2 {
    flex-direction: column;
    gap: 60px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

@media screen and (min-width: 577px) and (max-width: 1100px) {
  .sponspors-section {
    flex-direction: column;
    margin: 100px 25px;
  }

  .sponspors-section .div1 {
    width: 90%;
  }

  .sponspors-section .div2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
  }
  .sponspors-section .div2 img {
    justify-self: center;
  }
}
